name: Manual Deployment With Approval

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to deploy"
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: my_env

    steps:
      - uses: actions/checkout@v4

      - name: Deploy
        run: |
          echo "Deploying version ${{ inputs.version }}"
          echo "Env var ${{vars.MY_ENV_VAR}}"
          echo "Env Secret ${{secrets.MY_ENV_SECERTS}}"
