name: Manual Deployment With Approval

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to deploy"
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build
        run: echo "Building..."

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: test
        run: echo "Testing..."
  deploy:
    runs-on: ubuntu-latest
    needs:
      - build
      - test
    environment:
      name: my_env

    steps:
      - uses: actions/checkout@v4
      - name: Deploy
        run: |
          echo "Deploying version ${{ inputs.version }}"
          echo "Env var ${{vars.MY_ENV_VAR}}"
          echo "Env Secret ${{secrets.MY_ENV_SECERTS}}"
